{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}



{% block app_content %}
<div class="container">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-check"></span>
                    &nbsp;&nbsp; 인증번호를 입력해주세요.
                </h3>
            </div>
            <div class="panel-body">                
                {% if email %}
					<p>가입을 계속하기 위해 이메일을 확인해주세요.</p><br>	
				{% endif %}
				{% if phone %}
                
                <form action="{{ url_for('auth.authentication_sms', positions=positions, phone_number=phone_number) }}" method = 'POST'>
                    <input type='text' name='input_auth' size=20> 
                    <input type='submit' value='인증하기'>
                </form>
                <br>
                {% endif %}
                <div class="pannel-footer">
                    <blockquote>
                    <p> The only way to learn mathematics is to do mathematics. </p>
                    </blockquote>                       
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock %}
