{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
<div class="container">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-repeat"></span>
                    &nbsp;&nbsp; 비밀번호 초기화
                </h3>
            </div>
            <div class="panel-body">                
		        <span>
		            {{ wtf.quick_form(form) }}
		        </span>
                <br>                
                <div class="pannel-footer">
                    <blockquote>
                    <p> "Reset, Refocus, Restart." </p>
                    </blockquote>                       
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock %}
