{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-check"></span>
                    &nbsp;&nbsp; 새로운 비밀번호를 입력하세요.
                </h3>
            </div>
            <div class="panel-body">                
		        <span>
		            {{ wtf.quick_form(form) }}
		        </span>
                <br>                
                <div class="pannel-footer">
                    <blockquote>
                    <p> I changed my password to "incorrect" so whenever I forget what it is, the computer will say, "your password is incorrect." </p>
                    </blockquote>                       
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock %}
