{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "_formhelpers.html" import render_field %}

{% block app_content %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-th-list"></span>
                &nbsp;&nbsp; {{ title }}                
            </h3>
        </div>
        <div class="panel-body" style="padding-top: 0;">
                <!-- <thead>
                    <tr>
                    {% if g.search_form %}
                        <form class="navbar-form navbar-left" method="get" action="{{ url_for('main.search', search_board='board') }}">
                            <div class="form-group">
                                {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                            </div>
                        </form>
                    {% endif %}
                    <div style="float:right">            
                            {{ wtf.quick_form(form) }}
                    </div>
                    </tr>
                </thead> -->
            <table>
                <tbody>
            {% for source in posts %}
                {% include 'elementary/_article.html' %}
            {% endfor %}
                </tbody>
            </table>

            <!-- <nav aria-label="...">
                <ul class="pager">
                    <li class="previous{% if not prev_url %} disabled{% endif %}">
                        <a href="{{ prev_url or '#' }}">
                            <span aria-hidden="true">&larr;</span> {{ 'Newer posts' }}
                        </a>
                    </li>
                    <li class="next{% if not next_url %} disabled{% endif %}">
                        <a href="{{ next_url or '#' }}">
                            {{ 'Older posts' }} <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                </ul>
            </nav> -->
            {% if g.search_form %}
            <form class="navbar-form navbar-left" method="get" action="{{ url_for('main.search', search_board='board') }}">
                <div class="form-group">
                    {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                </div>
            </form>
            {% endif %}
            <div style="float:right">            
                    {{ wtf.quick_form(form) }}
            </div>
            <br>                
            <div class="pannel-footer">
                <blockquote>
                    <p> The pure mathematician, like the musician, is a free creator of his rowld of ordered beauty.</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock %}