<!DOCTYPE html>
<html lang="ko">

{% block head %}
  <title>Profile</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
      body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
  </style>
  <body class="w3-light-grey w3-content" style="max-width:1600px">
  
  <!-- Sidebar/menu -->
  {% block navbar %}
  <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container">
      <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
        <i class="fa fa-remove"></i>
      </a>
      {% if current_user.is_authenticated %}
        <img src="{{ current_user.avatar(35) }}" class="w3-round" alt="Avatar"><br><br>
      {% else %}
        <img src="/w3images/avatar_g2.jpg" style="width:45%;" class="w3-round"><br><br>
      {% endif %}
      <h4><b>PORTFOLIO</b></h4>
      <p class="w3-text-grey">KIM JAE SEON</p>
    </div>
    <div class="w3-bar-block">
      <a href="{{ url_for('main.index') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-home fa-fw w3-margin-right"></i>Main</a> 
      {% if current_user.is_authenticated %}            
        <a href="{{ url_for('main.messages') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-envelope fa-fw w3-margin-right"></i>
          메세지
          {% set new_messages = current_user.new_messages() %}
              <span id="message_count" class="badge" style="visibility: {% if new_messages %} visible {% else %} hidden {% endif %};">
                New!</span>
        </a>

        <a href="{{ url_for('main.user', username=current_user.username) }}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal">
          <i class="fa fa-male w3-margin-right fa-fw w3-margin-right"></i>User
        </a>
            
        <a href="{{ url_for('auth.logout') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal">
          <i class="fa-sign-out fa-fw w3-margin-right">&#xE8AC;</i>Log Out
        </a>            
      {% else %}              
        <a href="{{ url_for('auth.login') }}"  style="text-decoration: none;" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal">
          <i class="fa fa-sign-in fa-fw w3-margin-right"></i>Log In
        </a>

        
        <a href="{{ url_for('auth.position') }}"  style="text-decoration: none;" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal">
          <i class="fa fa-globe fa-fw w3-margin-right"></i>Join us!
        </a>
      {% endif %}      
    </div>
    <div class="w3-panel w3-large">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
  </nav>
  {% endblock %}
  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay">
  </div>
  
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px">  
    <!-- Header -->
    <header id="portfolio">
      <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
      <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
      <div class="w3-container">
        <h1><b>KIM JAE SEON</b></h1>        
      </div>
    </header>
  </div>
{% endblock %}

{% block app_content %}{% endblock %}

{% block footer %}
  <!-- Footer -->
  <footer class="w3-container w3-padding-32 w3-dark-grey">
    <div class="w3-row-padding">
      <div class="w3-twothird">
        <h3>POWERED BY</h3>
        <p>이 홈페이지는 w3.css와 w3.css의 템플릿을 기초로 프론트 페이지를 만든 후,</p>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
      </div>
    
  
  
      <div class="w3-third">
        <h3>POPULAR TAGS</h3>
        <p>
          <span class="w3-tag w3-black w3-margin-bottom">Python</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">C programming</span> 
          <span class="w3-tag w3-grey w3-small w3-margin-bottom">London</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">SQL</span> 
          <span class="w3-tag w3-grey w3-small w3-margin-bottom">HTML</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">CSS</span> 
          <span class="w3-tag w3-grey w3-small w3-margin-bottom">JS</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Flask</span> 
          <span class="w3-tag w3-grey w3-small w3-margin-bottom">Tensorflow</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">SQLAlchemy</span>
        </p>
      </div>
  
    </div>
    </footer>
    
    <div class="w3-black w3-center w3-padding-24">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></div>
  <!-- End page content -->     
{% endblock %}

{% block scripts %}
<script>        
  // Script to open and close sidebar
  function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
  }
    
  function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
  }
</script>
{% endblock %}
</body>
</html>