{% extends "base.html" %}

{% block app_content %}
<div class="container" style="width: 80%;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-send"></span>
                &nbsp;&nbsp; {{current_user.username }}님의 쪽지함
            </h3>
        </div>
        <div class="panel-body">
            <table>
                <!-- <thead>
                    <tr>
                        <th>id</th>
                        <th rowspan="5">제목</th>
                        <th>좋아요</th>
                        <th>조회수</th>
                        <th></th>
                    </tr>
                </thead> -->
                    <!-- 공지사항 예제들-->
                <tbody>
                    {% for post in messages %}
                        {% include '_comment.html' %}
                    {% endfor %}
                </tbody>
            </table>
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous{% if not prev_url %} disabled{% endif %}">
                        <a href="{{ prev_url or '#' }}">
                            <span aria-hidden="true">&larr;</span>  다음 쪽지들 
                        </a>
                    </li>
                    <li class="next{% if not next_url %} disabled{% endif %}">
                        <a href="{{ next_url or '#' }}">
                            이전 쪽지들  <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="pannel-footer">
                <blockquote>
                <p> The beauty of mathematics only shows itself to more patient followers.</p>
                </blockquote>                       
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock %}