{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-user"></span>
                &nbsp;&nbsp; 사용자: {{ user.username }}
            </h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <td width="128px"><img src="{{ user.avatar(128) }}"></td>
                    <td>
                        <h1></h1>
                        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                        {% if user.last_seen %}
                        <p> 마지막 접속 : {{ moment(user.last_seen).format('LLL') }}</p>
                        {% endif %}
                        {# <p> {{user.followers.count()}}명의 followers, 
                        {{ user.followed.count() }}명을 following</p> #}
                        {% if user == current_user %}
                        <p>
                            <a href="{{ url_for('main.ProfileUpdate') }}">
                            프로필 수정
                            </a>
                        </p>
                     {#   본인 게시물 기록 다운 받기 추가할것인지 아닌지를 결정.
                     {% if not current_user.get_task_in_progress('export_posts') %}
                        <p>
                            <a href="{{ url_for('main.export_posts') }}">
                                {{ 'Export your posts'}}
                            </a>
                        </p>
                        {% endif %}#}
                       {# 친구 추가 기능 사용할것인지 말것인지 결정
                       {% elif not current_user.is_following(user) %}
                        <p><a href="{{ url_for('main.follow', username=user.username) }}">{{ 'Follow' }}</a></p>
                        {% else %}
                        <p><a href="{{ url_for('main.unfollow', username=user.username) }}">{{ 'Unfollow' }}</a></p> #}
                        {% endif %}
                        {% if user != current_user %}
                        <p>
                            <a href="{{ url_for('main.send_message',
                                                recipient=user.username) }}">
                                쪽지를 보냈습니다.
                            </a>
                        </p>
                        {% endif %}
                    </td>
                </tr>
            </table>
            <div class="pannel-footer">
                <blockquote>
                <p> In mathematics the art of proposing a question must be held of higher value than solving it.</p>
                </blockquote>                       
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-paperclip"></span>
                &nbsp;&nbsp; {{ user.username }}님이 작성하신 게시물
            </h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                  <tr>
                    <td rowspan="2">id</td>                    
                    <td>제목 [댓글수]</td>    
                    <td rowspan="2">좋아요</td>                    
                    <td rowspan="2">조회수</td>
                    <td rowspan="2"><!-- '다운로드'  --></td>
                  </tr>
                  <tr>
                    <td>작성자 | 작성 시간</td>
                  </tr>
                </thead>
                    <!-- 공지사항 예제들-->
                <tbody>
                    {% for source in posts %}
                        {% include '_post.html' %}
                    {% endfor %}    
                </tbody>
            </table>
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous{% if not prev_url %} disabled{% endif %}">
                        <a href="{{ prev_url or '#' }}">
                            <span aria-hidden="true">&larr;</span>다음 게시물
                        </a>
                    </li>
                    <li class="next{% if not next_url %} disabled{% endif %}">
                        <a href="{{ next_url or '#' }}">
                            이전 게시물 <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="pannel-footer">
                <blockquote>
                <p> Without mathematics, there's nothing you can do. Everything around you is mathematics. Everything around you is numbers.</p>
                </blockquote>                       
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-link"></span>
                &nbsp;&nbsp; {{ user.username }}님이 작성하신 
            </h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>                    
                </thead>
                    <!-- 공지사항 예제들-->
                <tbody>
                    {% for post in comments %}
                        {% include '_comment.html' %}
                    {% endfor %}
                </tbody>
            </table>
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous{% if not prev_url_commnets %} disabled{% endif %}">
                        <a href="{{ prev_url_commnets or '#' }}">
                            <span aria-hidden="true">&larr;</span> 다음 댓글들
                        </a>
                    </li>
                    <li class="next{% if not next_url_comments %} disabled{% endif %}">
                        <a href="{{ next_url_comments or '#' }}">
                           이전 댓글들 <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="pannel-footer">
                <blockquote>
                <p> Mathematics is the most beautiful and most powerful creation of the human spirit.</p>
                </blockquote>                       
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock %}